@page
@model ProyectoBase.Pages.FicPersonas.fic_rh_cat_personas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>rh_cat_persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="rh_cat_persona.IdPersona" />
            <div class="form-group">
                <label asp-for="rh_cat_persona.IdInstituto" class="control-label"></label>
                <input asp-for="rh_cat_persona.IdInstituto" class="form-control" />
                <span asp-validation-for="rh_cat_persona.IdInstituto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.NumControl" class="control-label"></label>
                <input asp-for="rh_cat_persona.NumControl" class="form-control" />
                <span asp-validation-for="rh_cat_persona.NumControl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.Nombre" class="control-label"></label>
                <input asp-for="rh_cat_persona.Nombre" class="form-control" />
                <span asp-validation-for="rh_cat_persona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.ApPaterno" class="control-label"></label>
                <input asp-for="rh_cat_persona.ApPaterno" class="form-control" />
                <span asp-validation-for="rh_cat_persona.ApPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.ApMaterno" class="control-label"></label>
                <input asp-for="rh_cat_persona.ApMaterno" class="form-control" />
                <span asp-validation-for="rh_cat_persona.ApMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.RFC" class="control-label"></label>
                <input asp-for="rh_cat_persona.RFC" class="form-control" />
                <span asp-validation-for="rh_cat_persona.RFC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.CURP" class="control-label"></label>
                <input asp-for="rh_cat_persona.CURP" class="form-control" />
                <span asp-validation-for="rh_cat_persona.CURP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.FechaNac" class="control-label"></label>
                <input asp-for="rh_cat_persona.FechaNac" class="form-control" />
                <span asp-validation-for="rh_cat_persona.FechaNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.TipoPersona" class="control-label"></label>
                <input asp-for="rh_cat_persona.TipoPersona" class="form-control" />
                <span asp-validation-for="rh_cat_persona.TipoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="rh_cat_persona.Sexo" /> @Html.DisplayNameFor(model => model.rh_cat_persona.Sexo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.RutaFoto" class="control-label"></label>
                <input asp-for="rh_cat_persona.RutaFoto" class="form-control" />
                <span asp-validation-for="rh_cat_persona.RutaFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.Alias" class="control-label"></label>
                <input asp-for="rh_cat_persona.Alias" class="form-control" />
                <span asp-validation-for="rh_cat_persona.Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.FechaReg" class="control-label"></label>
                <input asp-for="rh_cat_persona.FechaReg" class="form-control" />
                <span asp-validation-for="rh_cat_persona.FechaReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.FechaUltMod" class="control-label"></label>
                <input asp-for="rh_cat_persona.FechaUltMod" class="form-control" />
                <span asp-validation-for="rh_cat_persona.FechaUltMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.UsuarioReg" class="control-label"></label>
                <input asp-for="rh_cat_persona.UsuarioReg" class="form-control" />
                <span asp-validation-for="rh_cat_persona.UsuarioReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_persona.UsuarioMod" class="control-label"></label>
                <input asp-for="rh_cat_persona.UsuarioMod" class="form-control" />
                <span asp-validation-for="rh_cat_persona.UsuarioMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="rh_cat_persona.Activo" /> @Html.DisplayNameFor(model => model.rh_cat_persona.Activo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="rh_cat_persona.Borrado" /> @Html.DisplayNameFor(model => model.rh_cat_persona.Borrado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
