@page
@model ProyectoBase.Pages.Menu.FicPersonas.fic_rh_cat_telefonos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>rh_cat_telefono</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="rh_cat_telefono.CodPais" class="control-label"></label>
                <input asp-for="rh_cat_telefono.CodPais" class="form-control" />
                <span asp-validation-for="rh_cat_telefono.CodPais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_telefono.NumTelefono" class="control-label"></label>
                <input asp-for="rh_cat_telefono.NumTelefono" class="form-control" />
                <span asp-validation-for="rh_cat_telefono.NumTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_telefono.NumExtencion" class="control-label"></label>
                <input asp-for="rh_cat_telefono.NumExtencion" class="form-control" />
                <span asp-validation-for="rh_cat_telefono.NumExtencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="rh_cat_telefono.Principal" /> @Html.DisplayNameFor(model => model.rh_cat_telefono.Principal))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_telefono.ClaveReferencia" class="control-label"></label>
                <input asp-for="rh_cat_telefono.ClaveReferencia" class="form-control" />
                <span asp-validation-for="rh_cat_telefono.ClaveReferencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_telefono.Referencia" class="control-label"></label>
                <input asp-for="rh_cat_telefono.Referencia" class="form-control" />
                <span asp-validation-for="rh_cat_telefono.Referencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_telefono.FechaReg" class="control-label"></label>
                <input asp-for="rh_cat_telefono.FechaReg" class="form-control" />
                <span asp-validation-for="rh_cat_telefono.FechaReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_telefono.FechaUltMod" class="control-label"></label>
                <input asp-for="rh_cat_telefono.FechaUltMod" class="form-control" />
                <span asp-validation-for="rh_cat_telefono.FechaUltMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_telefono.UsuarioReg" class="control-label"></label>
                <input asp-for="rh_cat_telefono.UsuarioReg" class="form-control" />
                <span asp-validation-for="rh_cat_telefono.UsuarioReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rh_cat_telefono.UsuarioMod" class="control-label"></label>
                <input asp-for="rh_cat_telefono.UsuarioMod" class="form-control" />
                <span asp-validation-for="rh_cat_telefono.UsuarioMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="rh_cat_telefono.Activo" /> @Html.DisplayNameFor(model => model.rh_cat_telefono.Activo))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="rh_cat_telefono.Borrado" /> @Html.DisplayNameFor(model => model.rh_cat_telefono.Borrado))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
